<html>
    <head>
        <title>{% block head_title %}Welcome to my blog{% endblock %}</title>
        <link href="/site_medias/style/baseline.base.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block navi %}
            <div class="center">
                <p>招风草</p>
                <p><a href="/blog/">首页</a> / <a href="/文章列表/">文章</a> / <a href="/categoies/">分类</a> / <a href="/about/">About</a>
            </div>
        {% endblock %}
    	{% block user_info %}{% endblock %}
        <h2>{% block title %}Welcome to my block{% endblock %}</h2>
        {% block content %}

        {% endblock %}
    </body>
</html>