{% extends 'base.html' %}
{% block head_title %}欢迎进入招风草博客{% endblock %}
	{% block user_info %}
	<div class="userinfo"><p>欢迎你,
		{% if username_boolean %}
			{{username}}  <a href="/register/">注册用户</a>
		{% else %}
			<a href="/userinfo/">{{ username }}</a>!   <a href="/logout/">注销</a>
		{% endif %}
	</p></div>
	{% endblock %}
	{% block title %}<p><h3>{{ random_words }}</h3></p>{% endblock %}
	{% block main-content %}
			{% if posts %}
				{% for post in posts %}
				{% if post.public_status %}
				<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
				<p class="post-info">作者:{{ post.author }} 发表日期:{{ post.post_time | date:"Y年m月d日 H时i分"}} 修改日期:{{ post.update_time | date:"Y年m月d日 H时i分" }} 分类:{{ post.category }}</p>
				<p>{% autoescape off %}{{ post.content|truncatewords_html:10 }}{% endautoescape %}</p>
				<hr />
				{% endif %}
				{% endfor %}
			{% else %}
				<p>没有文章可以显示了</p>
			{% endif %}
	{% endblock %}
	{% block sidebar %}
			<h2>Categories</h2>
			{% if categories %}
				<ul>
					{% for category in categories %}
					<li><img src="./images/{{ category.cat_img.url }}" /><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
					{% endfor %}
			{% else %}
				<p>没有分类可以显示</p>
			{% endif %}
	{% endblock %}
</body>
</html>